.character-card {
  padding: 20px 15px;
  background: var(--primary-background);
  width: 200px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
}

.character-card:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .character-card {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .character-card {
    width: 100%;
    padding: 20px 0;
  }
}
